@import url('https://fonts.googleapis.com/css?family=Cinzel');

.form {
    background-color: #283875;
    background-image: linear-gradient(0deg, #283875 1%, #0c090a 58%);
}

.horarios-form {
    max-width: 600px;
    margin: auto;
  
    h2 {
        color: #ffffff;
        font-family: 'Cinzel', serif;
        text-align: center;
    }
  
    form {
        display: flex;
        flex-direction: column;
    
        .form-group {
            margin-bottom: 12px;
    
            label {
                color: #ffffff;
                font-family: 'Cinzel', serif;
                margin-bottom: 5px;
                display: block;
                font-weight: bold;
            }            
    
            input, select {
                color: #ffffff;
                font-size: large;
                border-radius: 5px;
                border-width: 1px;
                padding: 15px;
                width: 100%;
                box-sizing: border-box;
            }

            button {
                margin-left: 420px;
                font-family: 'Cinzel', serif;
                font-weight: bold;

                border-radius: 5px;
                padding: 12px;

                background-color: #e29547;
                color: #ffffff;

                width: 30%;
                border: none;
                cursor: pointer;
    
                &:disabled {
                    background-color: #ccc;
                    cursor: not-allowed;
                }
            }
        }
    }
  }
  