<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Barbearia Navalha</title>
	</head>
	<body>
		<div class="landing-page">
			<nav class="navigation">
				<div class="logo-container">
					<img src="assets/img/logo-barbearia.png" class="logo-barbearia">
				</div>
				<ul>
					<li><a routerLink="/">Home</a></li>
					<li><a routerLink="/horarios">Horários</a></li>
					<li><a routerLink="/sobre-nos">Sobre Nós</a></li>
				</ul>
			</nav>
		</div>
	</body>
</html>