<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Barbearia Navalha</title>
	</head>
	<body>
		<div class="landing-page">
			<nav class="navigation">
				<div class="logo-container">
					<img src="assets/img/logo-barbearia.png" class="logo-barbearia">
				</div>
				<ul>
					<li class="titulo"><a href="#section1">Home</a></li>
					<li class="titulo"><a href="#section2">Horários</a></li>
					<li class="titulo"><a href="#section3">Sobre Nós</a></li>
				</ul>
			</nav>
		</div>
		<div id="section1">
			<app-home></app-home>
		</div>
		<div id="section2">
			<app-horarios></app-horarios>
		</div>
	</body>
</html>