
@import url('https://fonts.googleapis.com/css?family=Cinzel');

.container {
    background-color: palevioletred;
    position: relative;
    line-height: 0;

    .bg {
        margin-top: 80px;
        width: 100%;
        height: auto;
    }
      
    .nome-empresa {
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 10px;
        left: 26%;
        top: 100px;
    
        background-color: transparent;
        color: white;

        font-size: 35pt;
    }
    
    .slogan {
        font-family: 'Cinzel', serif;
    
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 10px;
        left: 32.8%;
        top: 150px;
    
        background-color: transparent;
        color: #e6bc92;
    }

    .slogan-2 {
        font-family: 'Cinzel', serif;
    
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 10px;
        left: 18.9%;
        top: 175px;
    
        background-color: transparent;
        color: #977656;
    }
}
  