
<div class="form">
    <div class="container">
        <img src="assets/img/homem-elegante.jpg" alt="homem-elegante" class="homem-elegante">
        <div class="texto-sobre-imagem">
            <h1>Bem-vindo à Barbearia Navalha</h1>
            <p>
                A Barbearia Navalha, estabelecida desde 2015, destaca-se no cuidado masculino com barba e cabelo. <br>
                Desde sua fundação, compromete-se em proporcionar uma experiência excepcional aos clientes.
            </p>
            <p>
                Nossa equipe experiente evoluiu ao longo dos anos, aprimorando não só técnicas clássicas, mas <br>
                também adotando as tendências atuais da beleza masculina.
            </p>
            <p>
                O espaço valoriza muito mais que a estética.<br>
                A criação de um ambiente acolhedor para todos, onde cada pessoa é recebida com carinho.
            </p>
            <p>
                A gama de serviços oferecidos vai desde cortes clássicos até os mais modernos.<br>
                incluso tratamentos especiais para barba, com produtos de qualidade que preservam a saúde dos fios.
            </p>
            <p>
                Ao longo dos anos, a missão da Barbearia Navalha tem sido superar as expectativas dos clientes.<br>
                Convida-se os interessados a fazerem parte dessa jornada e descobrir como podem elevar seu estilo.
            </p>
            <p>
                Agradecemos por escolher a Barbearia Navalha.<br>
                onde a tradição se une à modernidade para oferecer o melhor para você.
            </p>
        </div>
    </div>
</div>
